:root {
    --toast-right: 0px;
}

@keyframes slide-in-out {
    0% {
        right: var(--toast-right);
    }
    10% {
        right: 0;
    }
    90% {
        right: 0;
    }
    100% {
        right: var(--toast-right);
    }
}

body {
    margin: 0;
    font-size: 24px;
    overflow: hidden;
}

main {
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

form {
    border: 2px solid rgb(45, 45, 45);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

label {
    display: block;
}

input {
    background-color: rgb(245, 245, 245);
    padding: .25rem 1rem;
    border-radius: 5px;
    border: 2px solid rgb(45, 45, 45);
    margin: .25rem 0;
    font-size: inherit;
}

input:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 2px solid rgb(0, 128, 255);
}

input[type="submit"] {
    width: 100%;
}

input[type="submit"]:last-child {
    margin-top: 1rem;
}

.toast {
    position: absolute;
    right: var(--toast-right);
    top: 1rem;
    background-color: rgb(245, 245, 245);
    padding: .5rem 2rem;
    border: 2px solid rgb(45, 45, 45);
    border-right: none;
    border-radius: 5px 0 0 5px;
    animation: slide-in-out 5s;
    margin-left: 1rem;
}