<?php
// Set cache headers to prevent caching
header('Cache-Control: no-cache, no-store, must-revalidate');
header('Pragma: no-cache');
header('Expires: 0');
?>
<form id="loginForm">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    
    <div>
      <input type="submit" name="action" value="Login">
    </div>
</form>
<input type="button" id="backButton" value="Back">